.install-form {
  width: 535px
}

.install-form form input {
  width: 340px;
  margin-top: 14px;
  margin-right: 15px;
  height: 40px;
}

.install-form form button {
  width: 180px;
  padding: 10px;
}

#h h3 {
  color: white;
  font-style: italic;
}

#h span {
  background-color: black;
  opacity: 0.75;
}
